components-ball-content{
  .components-ball-content {
    line-height: 30px;
    span + span {
      margin-left: 10px;
    }

    span {
      display: inline-block;
      text-align: center;
      width: 24px;
      height: 24px;
      line-height: 24px;
      background-color: color($colors, danger);
      color: white;
      border-radius: 20px;
      font-weight: bold;
      font-size: 14px;
      &:last-child {
        background-color: color($colors, primary);
      }
    }
  }
}
